* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
}


a {
    border: 2px solid black;
    border-radius: 10%;
    padding: 1px;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.header {
    width: 100%;
    margin: 0 auto;
    padding-top: 50vh; 
    height: 100vh;
    color: #fff;
    background-image: url(./pexels-photo-248515.png);
    background-size: cover;
    background-position: center;
}

.section {
    padding: 20px;
    background: #eaeaea;
}
.container {
    display: inline-block;
    width: 20%;
    padding: 20px;
}

.section1 {
    padding: 20px;
}

.info {
    display: inline-block;
    width: 49%;
}
.contact {
    color: #fff;
    background-color: #2690d4;
}

.company {
    color: #fff;
    background-color: black;
}

.footer {
    display: inline-block;
    width: 49%;
    color: #fff;
    background-color: black;
}